<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<bean id="zkClient" class="com.doer.moodle.config.zk.ZkClient" init-method="init" destroy-method="close">
		<property name="zkAddress" value="10.211.55.8:2181" />
		<property name="timeOut" value="200000" />
		<property name="sessionTimeOut" value="200000" />
	</bean>

	<bean id="configCenter" class="com.doer.moodle.config.ConfigurationCenter" init-method="init">
		<property name="zkClient" ref="zkClient" />
		<property name="initWriteData" value="false"/>
		<property name="configFiles">
			<list>
				<value>/config.properties</value>
			</list>
		</property>
	</bean>

</beans>